Repository freedoom/freedoom, pull requests merged in 2023-09, with the labels that each got.

#1087 patches/flats: New gray bricks by Korp
  flats/mflr8_1.png
  patches/w28_5.png
  patches/w28_6.png
  patches/w28_7.png
  patches/w28_8.png
Labels: patches

#1097 patches: new bronze set by Korp
  patches/rw10_1.png
  patches/rw10_2.png
  patches/rw10_3.png
  patches/rw10_4.png
  patches/rw25_1.png
  patches/rw25_2.png
  patches/rw25_3.png
  patches/rw25_4.png
  patches/rw38_3.png
  patches/w113_1.png
  patches/w113_2.png
  patches/w113_3.png
  patches/wall02_1.png
  patches/wall02_2.png
  patches/wall02_3.png
  patches/wall62_1.png
  patches/wall62_2.png
Labels: patches

#1084 patches: switch wall57_3 and 4.
  patches/wall57_3.png
  patches/wall57_4.png
Labels: bug, patches

#1086 sprites: new backpack by Cascade.
  buildcfg.txt
  sprites/bpaka0.png
Labels: sprites

#1092 levels: more minor fixes.
  levels/e1m2.wad
  levels/e1m3.wad
  levels/e1m9.wad
  levels/map11.wad
  levels/map12.wad
  levels/map28.wad
Labels: bug, levels

#1077 sounds: new technospider sounds by Goji.
  sounds/dsbspact.wav
  sounds/dsbspdth.wav
  sounds/dsbspsit.wav
Labels: sounds

#1099 sounds: fix dsbspsit.
  sounds/dsbspsit.wav
Labels: bug, sounds

#1046 sprites: new fist.
  buildcfg.txt
  sprites/punga0.png
  sprites/pungb0.png
  sprites/pungc0.png
  sprites/pungd0.png
Labels: bug, sprites

#1075 music: reuse picklehammer's old d_map22 for E3M1.
  musics/d_e3m1.mid
Labels: music

#1080 music: use tremolo strings for d_map19 not piano.
  musics/d_map19.mid
Labels: bug, music

#1102 sounds: new DSPEDTH.
  sounds/dspedth.wav
Labels: enhancement, sounds

#1105 dehacked: fix obituary string assignment syntax
  lumps/dehacked/dehacked.txt
Labels: bug, Dehacked

#1106 manual: Spanish translation for goals statements.
  manual/manual-es.adoc
Labels: documentation

#1088 patches: new midbars by Korp.
  patches/rw43_1.png
  patches/rw45_1.png
Labels: patches

#1085 sprites: PA/DB shotgun redraws by Korp.
  buildcfg.txt
  sprites/sgn2a0.png
  sprites/shota0.png
  sprites/sht2a0.png
  sprites/sht2b0.png
  sprites/sht2c0.png
  sprites/sht2d0.png
  sprites/sht2e0.png
  sprites/sht2f0.png
  sprites/sht2g0.png
  sprites/sht2h0.png
  sprites/sht2i0.png
  sprites/sht2j0.png
  sprites/shtfa0.png
  sprites/shtfb0.png
  sprites/shtga0.png
  sprites/shtgb0.png
  sprites/shtgc0.png
  sprites/shtgd0.png
Labels: sprites

#1082 graphics: new Phase 1 ending sequences.
  buildcfg.txt
  graphics/end0.png
  graphics/end1.png
  graphics/end2.png
  graphics/end3.png
  graphics/end4.png
  graphics/end5.png
  graphics/end6.png
  graphics/endpic.png
  graphics/pfub1.png
  graphics/pfub2.png
  graphics/victory2.png
  lumps/dehacked/dehacked.txt
Labels: patches, Dehacked, documentation

#1114 sprites: new pistol by @KorpKat
  buildcfg.txt
  sprites/pisfa0.png
  sprites/pisga0.png
  sprites/pisgb0.png
  sprites/pisgc0.png
  sprites/pisgd0.png
  sprites/pisge0.png
Labels: sprites

#1101 dehacked: revise E4 endtext.
  lumps/dehacked/dehacked.txt
Labels: enhancement, Dehacked, documentation

#1117 music: new Map04 music "Indigo" by Korp.
  musics/d_map04.mid
  musics/d_map10.mid
Labels: music

#1116 patches: new marble faces by Craneo.
  patches/mwall4_1.png
  patches/mwall4_2.png
  patches/mwall5_1.png
  patches/rw7_3.png
Labels: patches

#1113 sprites: new tech pillar and reshade small tech lamp.
  buildcfg.txt
  sprites/eleca0.png
  sprites/tlp2a0.png
  sprites/tlp2b0.png
  sprites/tlp2c0.png
  sprites/tlp2d0.png
Labels: sprites

#1115 sprites: increase sphere offsets.
  buildcfg.txt
Labels: sprites

#1111 patches: new spiderwebs by SuperDave938.
  patches/dospi1b.png
  patches/dospi2b.png
  patches/dospi3b.png
  patches/dospi4b.png
  patches/dowebl.png
  patches/dowebr.png
Labels: patches

#1104 levels: various QOL fixes.
  CREDITS
  levels/e1m1.wad
  levels/e1m3.wad
  levels/e1m7.wad
  levels/e1m9.wad
  levels/e2m7.wad
  levels/e2m9.wad
  levels/e3m2.wad
  levels/e3m3.wad
  levels/e3m5.wad
  levels/e3m8.wad
  levels/e4m2.wad
  levels/e4m8.wad
  levels/e4m9.wad
  levels/map01.wad
  levels/map05.wad
  levels/map09.wad
  levels/map11.wad
  levels/map12.wad
  levels/map14.wad
  levels/map15.wad
  levels/map17.wad
  levels/map18.wad
  levels/map19.wad
  levels/map20.wad
  levels/map21.wad
  levels/map23.wad
  levels/map24.wad
  levels/map25.wad
  levels/map27.wad
  levels/map28.wad
  levels/map29.wad
Labels: bug, levels

#1107 sprites: new puffs and bloods.
  buildcfg.txt
  sprites/bluda0.png
  sprites/bludb0.png
  sprites/bludc0.png
  sprites/puffb0.png
  sprites/puffc0.png
  sprites/puffd0.png
Labels: enhancement, sprites

#1098 patches: new stuff by Korp
  patches/rw18_1.png
  patches/rw18_2.png
  patches/rw18_3.png
  patches/rw18_4.png
  patches/wall05_2.png
Labels: patches

#1112 graphics: make yellow keys (mostly) yellow; add more redundant shape imagery to key stuff.
  graphics/stkeys1.png
  graphics/stkeys4.png
  graphics/stkeys7.png
  patches/w108_3.png
  patches/w108_4.png
  patches/w46_37.png
  patches/w46_38.png
  patches/w46_39.png
  sprites/bkeya0.png
  sprites/bkeyb0.png
  sprites/rkeya0.png
  sprites/rkeyb0.png
  sprites/ykeya0.png
  sprites/ykeyb0.png
  sprites/yskua0.png
  sprites/yskub0.png
Labels: sprites, patches

#1120 sprites: blend missile launcher muzzle flash.
  sprites/misfa0.png
  sprites/misfb0.png
  sprites/misfc0.png
  sprites/misfd0.png
Labels: enhancement, sprites

#1118 sprites: add handgun sights and correct flash perspective; center minigun.
  buildcfg.txt
  sprites/pisfa0.png
  sprites/pisga0.png
  sprites/pisgb0.png
  sprites/pisgc0.png
  sprites/pisgd0.png
  sprites/pisge0.png
  sprites/pista0.png
Labels: sprites

#1125 credits: list music in separate file.
  CREDITS
  CREDITS-MUSIC
Labels: music, documentation

#1126 flats: new GRNLITE1
  CREDITS
  flats/grnlite1.png
Labels: flats

#1127 manual/dehacked: overhaul.
  lumps/dehacked/dehacked.txt
  manual/images/c5m1-sshot.png
  manual/images/e1m1-tutorial-sshot.png
  manual/images/hazard-crusher.png
  manual/images/hazard-slime.png
  manual/images/key-icons.png
  manual/images/map.png
  manual/images/map01-sshot.png
  manual/images/scythe-map09.png
  manual/manual-es.adoc
  manual/manual.adoc
Labels: Dehacked, documentation

#1130 flats: new FLAT4 by @mc776
  flats/flat4.png
Labels: flats

#1123 graphics: new END*.
  buildcfg.txt
  graphics/end0.png
  graphics/end1.png
  graphics/end2.png
  graphics/end3.png
  graphics/end4.png
  graphics/end5.png
  graphics/end6.png
Labels: bug, patches

#1124 music: new tracks; shuffling.
  CREDITS-MUSIC
  musics/d_e1m6.mid
  musics/d_e1m7.mid
  musics/d_e1m9.mid
  musics/d_map12.mid
Labels: music
