Repository freedoom/freedoom, pull requests merged in 2023-07, with the labels that each got.

#1012 textures: make COMPUTE4 256 wide.
  lumps/textures/textures.cfg
Labels: bug, patches

#1010 New d_dm13 music
  CREDITS
  musics/d_dm13.mid
Labels: freedm, music

#777 Replace DM22 with another map and move old DM22 to DM32
  CREDITS
  levels/dm22.wad
  levels/dm32.wad
  lumps/dehacked/dehacked.txt
Labels: freedm, levels

#971 Incorporate MIDI pack for Double Impact
  CREDITS
  buildcfg.txt
  musics/d_e4m1.mid
  musics/d_e4m2.mid
  musics/d_e4m3.mid
  musics/d_e4m4.mid
  musics/d_e4m5.mid
  musics/d_e4m6.mid
  musics/d_e4m7.mid
  musics/d_e4m8.mid
  musics/d_e4m9.mid
Labels: enhancement, music

#1016 New d_dm32 music
  CREDITS
  musics/d_dm32.mid
Labels: freedm, music

#1017 New batch of midis for FreeDM
  musics/d_dm12.mid
  musics/d_dm13.mid
  musics/d_dm16.mid
  musics/d_dm18.mid
  musics/d_dm19.mid
  musics/d_dm20.mid
  musics/d_dm21.mid
Labels: freedm, music

#1013 levels: more minor fixes.
  levels/e1m1.wad
  levels/e3m7.wad
  levels/e3m8.wad
  levels/e3m9.wad
  levels/map28.wad
Labels: bug, enhancement, levels

#994 levels: new e2m1.
  CREDITS
  levels/e2m1.wad
  lumps/dehacked/dehacked.txt
Labels: levels

#1014 music: swap DM05 and Map07 music.
  musics/d_dm05.mid
  musics/d_map07.mid
Labels: freedm, music

#1018 music: restore korp's dm07; move rost's new tracks
  CREDITS
  musics/d_dm07.mid
  musics/d_dm25.mid
  musics/d_dm30.mid
Labels: freedm, music

#1021 dehacked: imply lore.
  lumps/dehacked/dehacked.txt
  manual/manual-es.adoc
  manual/manual.adoc
Labels: Dehacked, documentation

#1025 levels: fix e2m1 trilo warp for gzdoom.
  levels/e2m1.wad
Labels: bug, levels

#1024 sprites: fix up barrel, necro and octo deaths.
  buildcfg.txt
  sprites/bexpd0.png
  sprites/bexpe0.png
  sprites/skelo0.png
  sprites/skelp0.png
  sprites/skelq0.png
  sprites/vilev0.png
  sprites/vilew0.png
  sprites/vilex0.png
  sprites/viley0.png
  sprites/vilez0.png
Labels: enhancement, sprites

#1026 levels: minor fixes.
  levels/e1m2.wad
  levels/map29.wad
Labels: levels

#1011 dehacked: give phases only their own par times.
  lumps/dehacked/dehacked.txt
Labels: levels, Dehacked

#1027 create_caption: Python PIL 10.0.0 support
  graphics/text/create_caption
Labels: bug, build/distro

#1029 levels: more minor fixes.
  levels/e3m7.wad
  levels/e4m7.wad
  levels/e4m9.wad
  levels/map11.wad
Labels: bug, levels

#1030 levels: a minor and a major fix.
  levels/e4m9.wad
  levels/map28.wad
Labels: bug, levels

#1037 levels: Small fixes, mostly for Eureka
  levels/dm22.wad
  levels/dm32.wad
  levels/e1m7.wad
  levels/map09.wad
  levels/map10.wad
Labels: bug, levels

#1039 patches: make wave in AQCOMP01 go to white.
  patches/aqcomp01yel.png
Labels: enhancement, patches

#1038 levels: minor tweaks/fixes.
  levels/e1m1.wad
  levels/e2m1.wad
  levels/e2m3.wad
  levels/map09.wad
  levels/map11.wad
Labels: bug, enhancement, levels

#1036 patches: new sloppy and skull.
  patches/rw47_3.png
  patches/rw47_4.png
  patches/rw48_1.png
  patches/rw48_2.png
  patches/rw48_3.png
  patches/rw48_4.png
Labels: patches

#1034 patches: implement #1033.
  CREDITS
  patches/logo3.png
  patches/logo4.png
  patches/logo5.png
Labels: freedm, patches

#1042 scripts: Add news-to-feed script
  Makefile
  scripts/news-to-feed
Labels: build/distro, documentation
