Repository freedoom/freedoom, pull requests merged in 2023-11, with the labels that each got.

#1137 flats: replace SWATER with fireblu.
  flats/swater1.png
  flats/swater2.png
  flats/swater3.png
  flats/swater4.png
Labels: enhancement, flats

#1144 patches: new WOLFs.
  CREDITS
  lumps/textures/textures.cfg
  patches/wolf1.png
  patches/wolf10.png
  patches/wolf11.png
  patches/wolf12.png
  patches/wolf13.png
  patches/wolf14.png
  patches/wolf17.png
  patches/wolf18.png
  patches/wolf2.png
  patches/wolf2b.png
  patches/wolf3.png
  patches/wolf3b.png
  patches/wolf4.png
  patches/wolf4b.png
  patches/wolf5.png
  patches/wolf6.png
  patches/wolf7.png
  patches/wolf7b.png
  patches/wolf8.png
  patches/wolf9.png
Labels: patches

#1143 patches: remove bright spots on edge of gargoyle.
  patches/sw2_3.png
  patches/sw2_4.png
Labels: bug, patches

#1154 music: new intros by Korp; restore BW's d_e3m1.
  musics/d_dm2ttl.mid
  musics/d_e3m1.mid
  musics/d_intro.mid
  musics/d_introa.mid
Labels: music

#1168 Update e2m4:
  levels/e2m4.wad
Labels: levels

#1140 flats/patches/textures: add back old tentacles.
  buildcfg.txt
  flats/sflr4_1.png
  flats/sflr4_4.png
  flats/sflr5_1.png
  flats/sflr5_4.png
  lumps/textures/textures.cfg
  patches/snak5_1.png
  patches/snak6_1.png
Labels: enhancement, patches, flats

#1135 credits: additional music credits.
  CREDITS
  CREDITS-MUSIC
Labels: music, documentation

#1169 Based on Inuk's reports, Stratos posted these fixes on discord:
  levels/e2m1.wad
  levels/map03.wad
  levels/map08.wad
  levels/map15.wad
  levels/map17.wad
  levels/map22.wad
Labels: bug, levels

#1174 levels: Small fixes, mostly for Eureka
  levels/e2m1.wad
  levels/e2m4.wad
  levels/e2m7.wad
  levels/map05.wad
  levels/map12.wad
  levels/map24.wad
  levels/map25.wad
  levels/map31.wad
Labels: levels

#1173 Four new demos for phase 2.
  lumps/README.DEMO
  lumps/demo1_p2.lmp
  lumps/demo2_p2.lmp
  lumps/demo3_p2.lmp
  lumps/demo4_p2.lmp
Labels: enhancement

#1182 levels: address #1181.
  levels/e1m2.wad
  levels/e1m5.wad
  levels/e1m6.wad
  levels/e1m7.wad
  levels/e1m9.wad
  levels/e2m9.wad
  levels/e3m4.wad
  levels/e3m6.wad
  levels/e3m9.wad
  levels/e4m1.wad
  levels/e4m2.wad
  levels/e4m3.wad
  levels/e4m6.wad
  levels/e4m7.wad
Labels: bug, levels

#1183 Phase 1 multiplayer demos update.
  lumps/README.DEMO
  lumps/demo1_p1.lmp
  lumps/demo2_p1.lmp
  lumps/demo3_p1.lmp
  lumps/demo4_p1.lmp
Labels: enhancement

#1178 sprites: new gore poles and alien eggs by Cascade
  buildcfg.txt
  sprites/pol2a0.png
  sprites/pol3a0.png
  sprites/pol3b0.png
  sprites/pol4a0.png
Labels: sprites

#1184 music: new D_DM2INT by BlueWorrior
  CREDITS-MUSIC
  musics/d_dm2int.mid
Labels: music

#1187 Add a French translation to the freedoom.desktop files
  dist/io.github.freedoom.FreeDM.desktop
  dist/io.github.freedoom.Phase1.desktop
  dist/io.github.freedoom.Phase2.desktop
Labels: enhancement, documentation

#1176 sprites: new tech lamps by Cascade
  buildcfg.txt
  sprites/tlmpa0.png
  sprites/tlmpb0.png
  sprites/tlmpc0.png
  sprites/tlmpd0.png
  sprites/tlp2a0.png
  sprites/tlp2b0.png
  sprites/tlp2c0.png
  sprites/tlp2d0.png
Labels: sprites

#1177 sprites: new floor light by Cascade
  buildcfg.txt
  sprites/canda0.png
Labels: sprites

#1191 levels: address #1181; fix Map12 visplane crash.
  levels/e1m8.wad
  levels/e3m5.wad
  levels/map03.wad
  levels/map12.wad
Labels: bug, levels

#1193 Fist animations tweak and two handed pistol
  CREDITS
  buildcfg.txt
  sprites/pisfa0.png
  sprites/pisga0.png
  sprites/pisgb0.png
  sprites/pisgc0.png
  sprites/pisgd0.png
  sprites/pisge0.png
  sprites/punga0.png
  sprites/pungb0.png
  sprites/pungc0.png
  sprites/pungd0.png
Labels: sprites

#1198 new D_INTER
  CREDITS-MUSIC
  musics/d_inter.mid
Labels: music

#1197 sounds: louder DSOOF
  sounds/dsoof.wav
Labels: sounds

#1185 credits: add entire previous-release music list.
  CREDITS-MUSIC
Labels: music, documentation

#1199 sprites: adjust PISGA0 perspective.
  buildcfg.txt
  sprites/pisga0.png
Labels: sprites

#1196 graphics: add website to help screen.
  graphics/text/Makefile
Labels: question, patches, documentation

#1200 levels: fix map15 southeast safety lifts.
  levels/map15.wad
Labels: bug, levels

#1188 sprites: adjust TLP2 lighting.
  buildcfg.txt
  sprites/tlp2a0.png
  sprites/tlp2b0.png
  sprites/tlp2c0.png
  sprites/tlp2d0.png
Labels: sprites

#1190 new endoom screen with info about freedoom and a disclaimer.
  lumps/endoom.lmp
Labels: documentation

#1201 levels: minor tweak for E1M1
  levels/e1m1.wad
  manual/manual-es.adoc
  manual/manual.adoc
Labels: levels

#1203 New FreeDM endoom with info
  lumps/endoom.lmp
  lumps/endoomdm.lmp
Labels: documentation

#1204 New Song for Map 20 for Freedoom phase 2
  CREDITS
  CREDITS-MUSIC
  musics/d_map20.mid
Labels: music

#1207 New DM11 track
  CREDITS-MUSIC
  musics/d_dm11.mid
Labels: music, documentation

#1202 manual: optimize for PDF formatting.
  manual/Makefile
  manual/manual-es.adoc
  manual/manual.adoc
Labels: bug, documentation

#1211 Flip E2M4 and E2M6's tracks
  CREDITS-MUSIC
  musics/d_e2m4.mid
  musics/d_e2m6.mid
Labels: bug, music
