Repository freedoom/freedoom, pull requests merged in 2023-10, with the labels that each got.

#1145 sprites: reshade candelabra.
  buildcfg.txt
  sprites/cbraa0.png
Labels: sprites

#1150 patches: new RW14_1 by @KorpKat
  patches/rw14_1.png
Labels: patches

#1139 music: correct drum instrument on d_e3m1.
  musics/d_e3m1.mid
Labels: bug, music

#1133 manual: use "vanguard" for both languages.
  manual/manual-es.adoc
Labels: bug, documentation

#1131 sprites: new health bonus.
  CREDITS
  buildcfg.txt
  sprites/bon1a0.png
  sprites/bon1b0.png
  sprites/bon1c0.png
  sprites/bon1d0.png
Labels: sprites

#1136 dehacked: improve messages.
  lumps/dehacked/dehacked.txt
Labels: Dehacked, documentation

#1121 levels: minor fixes and tweaks.
  levels/e1m1.wad
  levels/e2m7.wad
  levels/e3m4.wad
  levels/e3m5.wad
  levels/e3m9.wad
  levels/e4m2.wad
  levels/e4m9.wad
  levels/map02.wad
  levels/map04.wad
  levels/map05.wad
  levels/map11.wad
  levels/map23.wad
  levels/map26.wad
  levels/map29.wad
  levels/map32.wad
Labels: bug, levels

#1155 sprites: touch up shotguns.
  buildcfg.txt
  sprites/sht2a0.png
  sprites/sht2b0.png
  sprites/sht2c0.png
  sprites/sht2d0.png
  sprites/sht2e0.png
  sprites/sht2f0.png
  sprites/sht2g0.png
  sprites/sht2h0.png
  sprites/sht2i0.png
  sprites/sht2j0.png
  sprites/shtfb0.png
  sprites/shtga0.png
  sprites/shtgb0.png
  sprites/shtgc0.png
  sprites/shtgd0.png
Labels: sprites

#1159 textures: Replace the background for boss wall.
  patches/rwdmon1.png
  patches/rwdmon10.png
  patches/rwdmon2.png
  patches/rwdmon3.png
  patches/rwdmon4.png
  patches/rwdmon5.png
  patches/rwdmon7.png
  patches/rwdmon8.png
  patches/rwdmon9.png
Labels: bug, patches

#1148 graphics: tidy up help screen.
  graphics/text/Makefile
Labels: patches, build/distro

#1160 graphics: use premade 68px M_PAUSE.
  buildcfg.txt
  graphics/pause.png
  graphics/text/Makefile
  graphics/text/config.py
Labels: bug, patches, fonts

#1164 textures: New boss wall texture set
  patches/rwdmon1.png
  patches/rwdmon10.png
  patches/rwdmon2.png
  patches/rwdmon3.png
  patches/rwdmon4.png
  patches/rwdmon5.png
  patches/rwdmon7.png
  patches/rwdmon8.png
  patches/rwdmon9.png
Labels: patches

#1167 flats: new FLAT8 by @KorpKat
  flats/flat8.png
Labels: bug, flats

#1141 sprites: less pointy minigun flash.
  buildcfg.txt
  sprites/chgfa0.png
  sprites/chgfb0.png
Labels: sprites
