Repository freedoom/freedoom, pull requests merged in 2023-12, with the labels that each got.

#1208 New ENDOOM screen
  lumps/endoom.lmp
Labels: documentation

#1213 levels: address #1161.
  levels/map16.wad
Labels: levels

#1219 Unique tracks for FreeDM title, intermission, and text screen
  CREDITS-MUSIC
  buildcfg.txt
  musics/d_fdmint.mid
  musics/d_fdmrdm.mid
  musics/d_fdmttl.mid
Labels: music

#1212 sprites: address #1210; fix tripod offsets.
  buildcfg.txt
  sprites/cybra1.png
  sprites/cybra2a8.png
  sprites/cybra3a7.png
  sprites/cybra4a6.png
  sprites/cybra5.png
  sprites/cybre1.png
  sprites/cybre2e8.png
  sprites/cybre3e7.png
  sprites/cybre4e6.png
  sprites/cybre5.png
Labels: bug, sprites

#1218 Restore "The Heroic Battle" as DM14
  CREDITS-MUSIC
  musics/d_dm14.mid
Labels: music

#1223 Add replacement Episode and Difficulty strings to dehacked file
  lumps/dehacked/dehacked.txt
Labels: Dehacked

#1224 New FreeDM titlepic
  graphics/titlepic/freedm_titlepic.png
Labels: freedm, patches

#1220 sprites: make hatchling/octoball explosions snappier.
  buildcfg.txt
  sprites/fbxpa0.png
  sprites/fbxpb0.png
  sprites/fbxpc0.png
  sprites/skulf0.png
  sprites/skulg0.png
  sprites/skulh0.png
  sprites/skuli0.png
  sprites/skulj0.png
  sprites/skulk0.png
Labels: sprites

#1216 credits: refer to music file in main file.
  CREDITS
Labels: documentation

#1217 demos: replace P1/2 DEMO1s with singleplayer demos.
  lumps/README.DEMO
  lumps/demo1_p1.lmp
  lumps/demo1_p2.lmp
Labels: bug, build/distro

#1226 levels: E1M1 small fixes
  levels/e1m1.wad
Labels: bug, levels

#1225 manual: Fix warning in tutorial steps 1-15
  manual/manual-fr.adoc
  manual/manual.adoc
Labels: bug, build/distro

#1228 Fix the looping on "Lipstick"
  musics/d_e3m9.mid
Labels: bug, music

#1234 Add back Picklehammer's map05 as map29's midi
  CREDITS-MUSIC
  musics/d_map29.mid
Labels: music

#1227 levels: fix E4M7 "shiny floor".
  levels/e4m7.wad
Labels: bug, levels

#1233 Fixes for the songs for MAP20 and DM26
  musics/d_dm26.mid
  musics/d_map20.mid
Labels: music

#1231 graphics: recreate BOSSBACK with current textures.
  graphics/bossback.png
Labels: bug, patches

#1232 levels: minor fixes.
  levels/map03.wad
  levels/map04.wad
  levels/map09.wad
  lumps/demo1_p2.lmp
Labels: levels

#1235 musics: new music for dm27
  CREDITS-MUSIC
  musics/d_dm04.mid
  musics/d_dm27.mid
Labels: music

#1238 music: new d_e3m9 by @LolaHThicc.
  CREDITS-MUSIC
  musics/d_e3m9.mid
Labels: music

#1239 graphics: use smoking wreckage for BOSSBACK.
  graphics/bossback.png
Labels: patches

#1241 "Fun is Infinite at AGM" as MAP07
  CREDITS-MUSIC
  musics/d_map07.mid
Labels: music

#1242 Change MAP07 name
  lumps/dehacked/dehacked.txt
Labels: enhancement, levels, documentation

#1240 Removed Vents.
  patches/aqpanl01.png
  patches/aqpanl02.png
  patches/aqpanl03.png
  patches/aqpanl04.png
  patches/aqpanl05.png
  patches/aqpanl06.png
  patches/aqpanl07.png
Labels: patches

#1243 MAP22 fixes & replacement demo
  levels/map22.wad
  lumps/README.DEMO
  lumps/demo3_p2.lmp
Labels: bug, levels

#1244 demos: correct readme.
  lumps/README.DEMO
Labels: bug, documentation

#1246 textures: add backwards DOOR3.
  lumps/textures/textures.cfg
  patches/door2_5l.png
Labels: enhancement, patches

#1247 levels: fix some E1M2 aesthetics.
  levels/e1m2.wad
Labels: levels

#1249 Fix music README file to mention separate FreeDM non-level tracks
  musics/README
Labels: music, documentation
