Repository freedoom/freedoom, pull requests merged in 2023-08, with the labels that each got.

#1047 patches: raise sloppy skull.
  patches/rw48_1.png
  patches/rw48_2.png
  patches/rw48_3.png
  patches/rw48_4.png
Labels: bug, patches

#1044 music: use old d_e1m2 for dm23.
  musics/d_dm23.mid
Labels: freedm, music

#1040 levels: more minor fixes.
  levels/e1m2.wad
  levels/e1m8.wad
  levels/map03.wad
  levels/map09.wad
  levels/map13.wad
  levels/map14.wad
  levels/map15.wad
  levels/map17.wad
  levels/map18.wad
  levels/map19.wad
  levels/map22.wad
  levels/map23.wad
  levels/map25.wad
  levels/map26.wad
  levels/map28.wad
  levels/map29.wad
Labels: bug, levels

#1041 sprites: add Korp's minigun edit.
  buildcfg.txt
  sprites/chgfa0.png
  sprites/chgfb0.png
  sprites/chgga0.png
  sprites/chggb0.png
Labels: sprites

#1051 manual: minor fixes.
  manual/images/menu-save-game.png
  manual/manual-es.adoc
  manual/manual.adoc
Labels: documentation

#1050 patches/flats: new textures by Korp.
  flats/floor4_8.png
  flats/floor5_1.png
  flats/floor5_2.png
  flats/floor5_3.png
  patches/door15_1.png
  patches/door15_2.png
  patches/door16_1.png
  patches/door2_4.png
  patches/door9_1.png
  patches/door9_2.png
  patches/sw11_1.png
  patches/sw11_2.png
  patches/sw11_4.png
  patches/sw11_5.png
  patches/sw12_1.png
  patches/sw12_2.png
  patches/sw12_4.png
  patches/sw12_5.png
  patches/sw15_1.png
  patches/sw15_3.png
  patches/sw15_4.png
  patches/sw15_6.png
  patches/sw16_1.png
  patches/sw16_2.png
  patches/sw16_4.png
  patches/sw16_6.png
  patches/sw17_1.png
  patches/sw17_2.png
  patches/sw17_3.png
  patches/sw17_4.png
  patches/sw17_5.png
  patches/sw17_6.png
  patches/sw18_5.png
  patches/sw18_7.png
  patches/sw19_1.png
  patches/sw19_2.png
  patches/sw19_3.png
  patches/sw19_4.png
  patches/sw19_5.png
  patches/sw19_6.png
  patches/wall03_7.png
Labels: patches, flats

#1052 levels: minor fixes.
  levels/map11.wad
  levels/map14.wad
  levels/map15.wad
Labels: bug, levels

#948 New Gray/ick wall by korp.
  lumps/textures/textures.cfg
  patches/duct1.png
  patches/grayred.png
  patches/graywarn.png
  patches/graywide.png
  patches/rw31_3.png
  patches/rw31_4.png
  patches/w31_1.png
  patches/w31_2.png
  patches/w32_1.png
  patches/w32_2.png
  patches/w32_4.png
  patches/w32_5.png
  patches/w33_5.png
  patches/w33_6.png
  patches/w33_7.png
  patches/w33_8.png
  patches/w33_9.png
  patches/w35_1.png
  patches/w35_2.png
  patches/w67_1.png
  patches/w67_2.png
  patches/wall00_1.png
  patches/wall00_2.png
  patches/wall00_3.png
  patches/wall00_4.png
  patches/wall69_4.png
  patches/wall69_9.png
  patches/wall70_2.png
  patches/wall70_4.png
  patches/wall70_9.png
  patches/wall71_5.png
  patches/wall72_3.png
  patches/wall72_5.png
  patches/wall72_7.png
Labels: enhancement, patches

#1055 textures: add SPCDOOR0 and STARG4.
  lumps/textures/textures.cfg
Labels: bug, patches

#1056 patches: new door15_3.
  patches/door15_3.png
Labels: patches

#1058 graphics: make status bar cell ammo icon blue.
  graphics/stbar.png
Labels: patches

#1059 sprites: add Cascade's pickups (etc.).
  CREDITS
  buildcfg.txt
  sprites/ammoa0.png
  sprites/arm1a0.png
  sprites/arm1b0.png
  sprites/arm2a0.png
  sprites/arm2b0.png
  sprites/broka0.png
  sprites/cella0.png
  sprites/celpa0.png
  sprites/launa0.png
  sprites/media0.png
  sprites/mguna0.png
  sprites/misla1.png
  sprites/misla5.png
  sprites/misla6a4.png
  sprites/misla7a3.png
  sprites/misla8a2.png
  sprites/plasa0.png
  sprites/rocka0.png
  sprites/sboxa0.png
  sprites/shela0.png
  sprites/stima0.png
Labels: sprites

#1061 textures: add a few unused patches.
  lumps/textures/textures.cfg
  patches/grayred.png
Labels: enhancement, patches

#1066 lumps: convert textures.cfg back to LF.
  lumps/textures/textures.cfg
Labels: bug, build/distro

#1067 sprites: new skull rock.
  buildcfg.txt
  levels/map11.wad
  sprites/fskua0.png
  sprites/fskub0.png
  sprites/fskuc0.png
Labels: levels, sprites

#1064 sprites: new evil eye.
  buildcfg.txt
  sprites/ceyea0.png
  sprites/ceyeb0.png
  sprites/ceyec0.png
Labels: sprites

#1073 levels: E2M4 overhaul by Xindage.
  levels/e2m4.wad
Labels: levels

#1071 levels: address #1070.
  levels/map19.wad
Labels: bug, levels

#1062 patches: implement new AQCOMP01 properly.
  patches/aqcomp01.png
  patches/aqcomp01yel.png
Labels: bug, patches

#1068 patches: new RW33 series by Korp. [dark version]
  lumps/textures/textures.cfg
  patches/rw33_1.png
  patches/rw33_2.png
  patches/rw33_3.png
  patches/rw33_4.png
  patches/rw33_5.png
  patches/rw33_6.png
  patches/rw38_1.png
  patches/rw38_2.png
Labels: patches

#1079 textures: complete AQTRIM03.
  lumps/textures/textures.cfg
Labels: bug, patches

#1069 patches/flats: new snake/tentacle/noodle textures.
  flats/sflr6_1.png
  flats/sflr6_4.png
  flats/sflr7_1.png
  flats/sflr7_4.png
  patches/snak7_1.png
  patches/snak8_1.png
Labels: patches, flats

#1063 levels: more minor fixes.
  levels/e2m1.wad
  levels/e2m4.wad
  levels/e3m1.wad
  levels/e3m3.wad
  levels/map03.wad
  levels/map06.wad
  levels/map11.wad
  levels/map17.wad
  levels/map31.wad
Labels: bug, levels

#1081 music: tweak instruments, volume on d_dm05.
  musics/d_dm05.mid
Labels: music

#1078 music: new D_BUNNY by Goji.
  CREDITS
  musics/d_bunny.mid
Labels: music

#1089 graphics: Improve the CD-ROM graphic
  graphics/stcdrom.png
Labels: sprites

#1094 manual: Add a section about Freedoom's true goal.
  manual/manual.adoc
Labels: documentation
