Repository freedoom/freedoom, pull requests merged in 2024-09, with the labels that each got.

#1426 fd24: Add pupabyte by Craneo
  fd24.txt
  sprites/bshea0.png
  sprites/bsheb0.png
  sprites/bshec0.png
  sprites/bshed0.png
  sprites/bshee0.png
  sprites/bshef0.png
  sprites/bsheg0.png
  sprites/bsheh0.png
Labels: sprites, FD24

#1425 fd24: Resurrect some attic sounds
  sounds/dsbandth.wav
  sounds/dsbanpai.wav
  sounds/dsbreak.wav
  sounds/dscspact.wav
  sounds/dscspdth.wav
  sounds/dscspsit.wav
  sounds/dscspwlk.wav
  sounds/dsgatcls.wav
  sounds/dsgatlop.wav
  sounds/dsghldt2.wav
  sounds/dsghlsit.wav
  sounds/dshetsht.wav
  sounds/dshetxpl.wav
  sounds/dsincht2.wav
  sounds/dsppoact.wav
  sounds/dsppodth.wav
  sounds/dsppohed.wav
  sounds/dsppopai.wav
  sounds/dsvasatk.wav
  sounds/dsvassit.wav
Labels: sounds

#1418 dehacked: make minigunner and SS call A_PosAttack.
  lumps/dehacked/dehacked.txt
Labels: Dehacked
