Repository freedoom/freedoom, pull requests merged in 2024-07, with the labels that each got.

#1389 patches: increase contrast of RW18_1 and 2.
  patches/rw18_1.png
  patches/rw18_2.png
Labels: patches

#1350 sprites: Add Cascade's new fist
  buildcfg.txt
  sprites/punga0.png
  sprites/pungb0.png
  sprites/pungc0.png
  sprites/pungd0.png
Labels: sprites

#1374 patches: 2 new patches
  lumps/textures/textures.cfg
  patches/exit3.png
  patches/poster1.png
Labels: patches

#1393 New DOBIGTV patches
  CREDITS
  patches/dobigtva.png
  patches/dobigtvb.png
  patches/dobigtvc.png
  patches/dobigtvd.png
  patches/doblip1a.png
  patches/doblip2a.png
  patches/doblip3a.png
  patches/doblip4a.png
  patches/dosha1.png
  patches/doshb1.png
  patches/doshc1.png
  patches/doshd1.png
  patches/doshe1.png
  patches/doshf1.png
  patches/dotv1b.png
  patches/dotv2b.png
  patches/dotv3b.png
  patches/dotv4b.png
Labels: enhancement, patches
