Repository freedoom/freedoom, pull requests merged in 2024-01, with the labels that each got.

#1252 More credits fixes.
  CREDITS
  CREDITS-MUSIC
Labels: documentation

#1251 sounds: softer bossbrain pain and death.
  sounds/dsbosdth.wav
  sounds/dsbospn.wav
Labels: sounds

#1254 build: add CREDITS-MUSIC.
  Makefile
Labels: build/distro, documentation

#1255 documentation: update year.
  COPYING.adoc
  graphics/text/create_caption
  manual/manual-es.adoc
  manual/manual-fr.adoc
  manual/manual.adoc
Labels: documentation

#1257 patches: add dead painlord to W108_1.
  patches/w108_1.png
Labels: bug, patches

#1258 Add more uncredited people.
  CREDITS
Labels: documentation

#1256 levels: remove inappropriate uses of SP_DUDE6.
  levels/e3m3.wad
  levels/e3m6.wad
  levels/map26.wad
Labels: bug, levels

#1262 Title jupiter_ex's tracks
  CREDITS-MUSIC
Labels: music, documentation

#1260 Add jump and ouch sounds for Doom Legacy
  buildcfg.txt
  sounds/dsjump.wav
  sounds/dsouch.wav
Labels: enhancement, sounds, build/distro

#1265 New FreeDM story track
  CREDITS-MUSIC
  musics/d_fdmrdm.mid
Labels: music

#1266 Better GOR1 sprites
  sprites/gor1a0.png
  sprites/gor1b0.png
  sprites/gor1c0.png
Labels: sprites

#1268 Swap DM23 and DM27's tracks.
  CREDITS-MUSIC
  musics/d_dm23.mid
  musics/d_dm27.mid
Labels: freedm, music

#1263 levels: make E2M3 skylight area exitable if entered.
  levels/e2m3.wad
Labels: bug, levels

#1271 Flip E2M3 and DM06's tracks
  CREDITS-MUSIC
  musics/d_dm06.mid
  musics/d_e2m3.mid
Labels: music

#1275 Use Korp's pistol offsets.
  buildcfg.txt
Labels: sprites

#1270 levels: make E1M7 yellow key platform obvious.
  levels/e1m7.wad
Labels: enhancement, levels

#1274 New MAP11 track.
  CREDITS-MUSIC
  musics/d_map11.mid
Labels: music

#1276 Fix "Mists Over the Mire"'s looping.
  musics/d_map29.mid
Labels: bug, music

#1278 manual: Make the manual more available
  Makefile
  manual/Makefile
  manual/freedoom-manual-en.adoc
  manual/freedoom-manual-es.adoc
  manual/freedoom-manual-fr.adoc
Labels: build/distro, documentation

#1279 build: Add processing for "CREDITS-MUSIC"
  .gitignore
  Makefile
Labels: build/distro, documentation

#1281 The Final edition of MAP20's theme.
  CREDITS-MUSIC
  musics/d_map20.mid
Labels: music

#1282 patches: get rid of BFALL black pixel.
  patches/bfall1.png
  patches/bfall2.png
  patches/bfall3.png
  patches/bfall4.png
Labels: bug, patches

#1285 New tune for E1M7
  CREDITS
  CREDITS-MUSIC
  musics/d_e1m7.mid
Labels: music

#1284 Restore "Pit" by Ajanddino as DM04
  CREDITS-MUSIC
  musics/d_dm04.mid
Labels: freedm, music

#1287 Fixed Octaminator Sprites
  sprites/skela1d1.png
  sprites/skela2d8.png
  sprites/skela3d7.png
  sprites/skela4d6.png
  sprites/skela5d5.png
  sprites/skela6d4.png
  sprites/skela7d3.png
  sprites/skela8d2.png
  sprites/skelb1e1.png
  sprites/skelb2e8.png
  sprites/skelb3e7.png
  sprites/skelb4e6.png
  sprites/skelb5e5.png
  sprites/skelb6e4.png
  sprites/skelb7e3.png
  sprites/skelb8e2.png
  sprites/skelc1f1.png
  sprites/skelc2f8.png
  sprites/skelc3f7.png
  sprites/skelc4f6.png
  sprites/skelc5f5.png
  sprites/skelc6f4.png
  sprites/skelc7f3.png
  sprites/skelc8f2.png
  sprites/skelg1.png
  sprites/skelg5.png
  sprites/skelg6g4.png
  sprites/skelg7g3.png
  sprites/skelg8g2.png
  sprites/skelh1.png
  sprites/skelh5.png
  sprites/skelh6h4.png
  sprites/skelh7h3.png
  sprites/skelh8h2.png
  sprites/skeli1.png
  sprites/skeli5.png
  sprites/skeli6i4.png
  sprites/skeli7i3.png
  sprites/skeli8i2.png
  sprites/skelj1.png
  sprites/skelj5.png
  sprites/skelj6j4.png
  sprites/skelj7j3.png
  sprites/skelj8j2.png
  sprites/skelk1.png
  sprites/skelk5.png
  sprites/skelk6k4.png
  sprites/skelk7k3.png
  sprites/skelk8k2.png
  sprites/skell1.png
  sprites/skell5.png
  sprites/skell6l4.png
  sprites/skell7l3.png
  sprites/skell8l2.png
  sprites/skelm0.png
  sprites/skeln0.png
  sprites/skelo0.png
  sprites/skelp0.png
  sprites/skelq0.png
Labels: bug, sprites

#1288 flats: remove pure black bit from FLAT1_1.
  flats/flat1_1.png
Labels: bug, flats

#1290 musics: Restore "Paranoia" by Picklehammer as DM10
  CREDITS-MUSIC
  musics/d_dm10.mid
Labels: music

#1291 Minor credits fixes
  CREDITS
  CREDITS-MUSIC
Labels: documentation

#1289 Retune MAP29
  levels/map29.wad
Labels: enhancement, levels

#1292 Replace E1M1's track
  CREDITS-MUSIC
  musics/d_dm11.mid
  musics/d_e1m1.mid
Labels: music

#1293 Composed new title theme for FreeDM
  CREDITS-MUSIC
  musics/d_fdmttl.mid
Labels: music

#1286 graphics: use dehacked for skill+episode names.
  graphics/text/config.py
  lumps/dehacked/dehacked.txt
Labels: enhancement, build/distro

#1298 Remove reference to old MAP31 in DeHackEd
  lumps/dehacked/dehacked.txt
Labels: documentation

#1296 Hopefully resolve #1122.
  sounds/dsskeatk.wav
Labels: sounds

#1303 NEWS: Add octaminator to NEWS.adoc
  NEWS.adoc
Labels: documentation

#1306 Music credit fixes
  CREDITS-MUSIC
Labels: documentation
