Repository freedoom/freedoom, pull requests merged in 2024-02, with the labels that each got.

#1229 New brick patches
  buildcfg.txt
  flats/slime13.png
  flats/slime13a.png
  levels/map11.wad
  lumps/textures/textures.cfg
  patches/rw41_1.png
  patches/rw41_1a.png
  patches/rw41_3.png
Labels: levels, patches

#1321 New chainsaw sprites by Cascade
  buildcfg.txt
  sprites/csawa0.png
  sprites/sawga0.png
  sprites/sawgb0.png
  sprites/sawgc0.png
  sprites/sawgd0.png
Labels: sprites

#1323 New tech pillar by Cascade
  sprites/eleca0.png
Labels: sprites

#1324 textures: rename FD's new BROVINE to BROVINE3.
  levels/dm09.wad
  levels/e2m1.wad
  levels/e2m3.wad
  levels/e2m6.wad
  levels/e2m9.wad
  levels/e4m2.wad
  levels/e4m8.wad
  levels/e4m9.wad
  levels/map11.wad
  lumps/textures/textures.cfg
Labels: bug, levels, patches

#1311 dist: update screenshots on metainfo XML files.
  dist/io.github.freedoom.FreeDM.metainfo.xml
  dist/io.github.freedoom.Phase1.metainfo.xml
  dist/io.github.freedoom.Phase2.metainfo.xml
Labels: build/distro

#1326 Address #1325 with a CREDITS-LEVELS file.
  .gitignore
  CREDITS
  CREDITS-LEVELS
  Makefile
Labels: build/distro, documentation

#1330 credits: remove doubled Mort.
  CREDITS
Labels: bug, documentation

#1322 New green and red columns by Cascade
  sprites/col1a0.png
  sprites/col2a0.png
  sprites/col3a0.png
  sprites/col4a0.png
  sprites/col5a0.png
  sprites/col5b0.png
  sprites/col6a0.png
Labels: sprites

#1332 scripts: For "makepkgs" replace "is" with "=="
  scripts/makepkgs
Labels: bug, build/distro

#1331 New MAP07 track
  CREDITS-MUSIC
  musics/d_map07.mid
Labels: music

#1328 levels: rename Episode 2.
  CREDITS-LEVELS
  lumps/dehacked/dehacked.txt
Labels: levels, documentation

#1329 levels: fix minor E2M3 lighting change issue.
  levels/e2m3.wad
Labels: bug, levels

#1312 dist: add Spanish to desktop files.
  dist/io.github.freedoom.FreeDM.desktop
  dist/io.github.freedoom.Phase1.desktop
  dist/io.github.freedoom.Phase2.desktop
Labels: build/distro, documentation

#1308 credits: add Teh_Bucket.
  CREDITS
Labels: documentation

#1316 textures: add tileable TEKWALL3 variant.
  lumps/textures/textures.cfg
Labels: patches

#1313 levels: improve Map29 aesthetics (mostly).
  levels/map29.wad
Labels: bug, levels

#1315 levels: tweak E3M6.
  levels/e3m6.wad
Labels: levels

#1340 levels: jump-proof Map19 soulsphere secret.
  levels/map19.wad
Labels: bug, levels

#1335 Add a "previously featured in 0.12.1" section to CREDITS-LEVELS
  CREDITS-LEVELS
Labels: documentation

#1314 levels: improve E3M5.
  levels/e3m5.wad
Labels: bug, levels

#1343 New DM04 track
  CREDITS-MUSIC
  musics/d_dm04.mid
Labels: music

#1346 patches: Revised SW3
  patches/sw3s0.png
  patches/sw3s1.png
Labels: patches
