Repository freedoom/freedoom, pull requests merged in 2024-08, with the labels that each got.

#1396 textures: add dangling version of big vines.
  lumps/textures/textures.cfg
  patches/w106_1.png
  patches/w106_2.png
  patches/w107_1.png
  patches/w107_2.png
Labels: patches

#1399 levels: fix Map27 tutti frutti in plasma arena.
  levels/map27.wad
Labels: levels

#1398 sprites: reverse liteamp A/B frames.
  sprites/pvisa0.png
  sprites/pvisb0.png
Labels: sprites

#1409 New TNT DOSLVR textures
  patches/doslvr11.png
  patches/doslvr12.png
  patches/doslvr13.png
  patches/doslvr14.png
  patches/doslvr21.png
  patches/doslvr22.png
  patches/doslvr23.png
  patches/doslvr24.png
Labels: patches

#1415 levels: fix HOM in Map09 berserk secret.
  levels/map09.wad
Labels: levels

#1414 New TNT wood crate patches
  patches/crlwdh6.png
  patches/crlwdh6b.png
  patches/crlwdl12.png
  patches/crlwdl6.png
  patches/crlwdl6b.png
  patches/crlwdl6c.png
  patches/crlwdl6d.png
  patches/crlwdl6e.png
  patches/crlwds6.png
  patches/crwdh6.png
  patches/crwdh6b.png
  patches/crwdl12.png
  patches/crwdl6.png
  patches/crwdl6b.png
  patches/crwdl6c.png
  patches/crwdl6d.png
  patches/crwds6.png
Labels: patches

#1391 Edit DM09 music to not crash under DOOM2.EXE
  musics/d_dm09.mid
Labels: bug, music

#1397 levels: fix some E2M9 tutti-frutti.
  levels/e2m9.wad
Labels: levels

#1416 E2M3 quickfix.
  levels/e2m3.wad
Labels: levels

#1421 patches: Updated DOTNTDR
  patches/dotntdr.png
Labels: patches

#1420 levels: fix E4M8 final swarm + water area secret.
  levels/e4m8.wad
Labels: levels
