Repository freedoom/freedoom, pull requests merged in 2024-10, with the labels that each got.

#1430 textures: add flipped versions of AQMETL16-17.
  lumps/textures/textures.cfg
  patches/aqmetf16.png
  patches/aqmetf17.png
Labels: patches

#1429 sprites: use Lotan's Tomb invulnerability sphere
  sprites/pinva0.png
  sprites/pinvb0.png
  sprites/pinvc0.png
  sprites/pinvd0.png
Labels: sprites

#1427 Levels: minor improvements: MAP01 and MAP21
  CREDITS
  levels/map01.wad
  levels/map21.wad
Labels: levels

#1410 patches: change colours/fix alignment of banners (rw16_1, rw16_2, rw16_3)
  patches/rw16_1.png
  patches/rw16_2.png
  patches/rw16_3.png
  patches/rw21_1.png
  patches/rw21_2.png
  patches/rw21_3.png
  patches/rw21_4.png
Labels: enhancement, patches

#1412 patches: fix some aliasing issues on rw16_4.
  patches/rw16_4.png
Labels: patches

#1408 textures: add dedicated non-animated MC series.
  levels/e1m1.wad
  lumps/textures/textures.cfg
Labels: levels, patches

#1387 Reworked ENDOOMs
  lumps/endoom.lmp
  lumps/endoomdm.lmp
Labels: enhancement

#1355 Freedm partial #720 PR
  levels/dm01.wad
  levels/dm06.wad
  levels/dm07.wad
  levels/dm09.wad
  levels/dm11.wad
  levels/dm12.wad
  levels/dm14.wad
  levels/dm16.wad
  levels/dm17.wad
  levels/dm21.wad
  levels/dm27.wad
  levels/dm31.wad
Labels: freedm, levels

#1349 New e2m1.
  levels/e2m1.wad
Labels: levels

#1454 lumps: umapinfo fixes
  lumps/p1_uminf.lmp
  lumps/p2_uminf.lmp
Labels: Advanced Engines

#1452 graphics: update status bar ammo icons.
  graphics/stbar.png
Labels: enhancement, patches
