Repository freedoom/freedoom, pull requests merged in 2025-02, with the labels that each got.

#1476 Fix the JoD's Face on MAP30
  levels/map30.wad
Labels: levels

#1478 DM03 (Major edit):
  levels/dm03.wad
  lumps/dehacked/dehacked.txt
  lumps/fdmuminf.lmp
Labels: freedm, levels

#1480 Standarized all FreeDM exits
  levels/dm01.wad
  levels/dm04.wad
  levels/dm05.wad
  levels/dm07.wad
  levels/dm08.wad
  levels/dm11.wad
  levels/dm21.wad
  levels/dm22.wad
  levels/dm23.wad
  levels/dm25.wad
  levels/dm28.wad
  levels/dm29.wad
  levels/dm30.wad
  levels/dm31.wad
  levels/dm32.wad
Labels: freedm, levels

#1483 DM25 (Major edit):
  levels/dm25.wad
  lumps/dehacked/dehacked.txt
  lumps/fdmuminf.lmp
Labels: freedm, levels

#1485 fix column offsets
  buildcfg.txt
Labels: sprites

#1482 lumps: add GLDEFS.
  buildcfg.txt
  lumps/gldefs.lmp
Labels: enhancement, Advanced Engines

#1487 Fix typo in Phase 1 `UMAPINFO`
  lumps/p1_uminf.lmp
Labels: Advanced Engines
