Repository freedoom/freedoom, pull requests merged in 2025-06, with the labels that each got.

#1472 Restored Korp's TEKGRENs from #1338
  patches/rw37_1.png
  patches/rw37_2.png
  patches/rw37_3.png
  patches/rw37_4.png
  patches/rw39_1.png
Labels: patches

#1493 DM30 (Replaced):
  levels/dm30.wad
  lumps/dehacked/dehacked.txt
  lumps/fdmuminf.lmp
Labels: freedm, levels

#1465 Clean up the HUD marine sprite.
  graphics/stfevl0.png
  graphics/stfevl1.png
  graphics/stfevl2.png
  graphics/stfgod0.png
  graphics/stfkill0.png
  graphics/stfkill1.png
  graphics/stfkill2.png
  graphics/stfst00.png
  graphics/stfst01.png
  graphics/stfst02.png
  graphics/stfst10.png
  graphics/stfst11.png
  graphics/stfst12.png
  graphics/stfst20.png
  graphics/stfst21.png
  graphics/stfst22.png
  graphics/stftl00.png
  graphics/stftl10.png
  graphics/stftl20.png
  graphics/stftr00.png
  graphics/stftr10.png
  graphics/stftr20.png
Labels: sprites

#1473 Add new source port text graphics
  buildcfg.txt
  graphics/text/Makefile
  graphics/text/config.py
Labels: Advanced Engines

#1377 Add LANGUAGE lump + Spanish translation
  CREDITS
  buildcfg.txt
  lumps/language.lmp
Labels: Advanced Engines

#1518 Restore AQMETL22
  lumps/textures/textures.cfg
  patches/aqmetl22.png
Labels: patches

#1517 Added Illost's Wolf portrait + new frame.
  CREDITS
  patches/wolf2.png
  patches/wolf2b.png
  patches/wolf4.png
  patches/wolf4b.png
  patches/wolf6.png
  patches/wolf7.png
  patches/wolf7b.png
  patches/wolf8.png
Labels: enhancement, patches
