Repository freedoom/freedoom, pull requests merged in 2025-01, with the labels that each got.

#1459 New e1m5 "Cloudspire Keep"
  levels/e1m5.wad
  lumps/dehacked/dehacked.txt
Labels: levels

#1458 patches: updated W101_1/2 & W102_1/2
  CREDITS
  patches/w101_1.png
  patches/w101_2.png
  patches/w102_1.png
  patches/w102_2.png
Labels: enhancement, patches

#1383 manual: fix Spanish translation errors.
  manual/freedoom-manual-es.adoc
Labels: documentation

#1461 lumps: process wadinfo through simplecpp
  .gitignore
  Makefile
  lumps/fdmwdinf.lmp
  lumps/p1_wdinf.lmp
  lumps/wadinfo/Makefile
  lumps/wadinfo/README
  lumps/wadinfo/wadinfo.txt
Labels: build/distro, documentation, Advanced Engines

#1395 MAP20 track Reboot
  CREDITS-MUSIC
  musics/d_map20.mid
Labels: music

#1468 Add carousel icons to IWADs
  buildcfg.txt
  graphics/smbfgg0.png
  graphics/smbfgg1.png
  graphics/smcsaw0.png
  graphics/smcsaw1.png
  graphics/smfist0.png
  graphics/smfist1.png
  graphics/smlaun0.png
  graphics/smlaun1.png
  graphics/smmgun0.png
  graphics/smmgun1.png
  graphics/smpisg0.png
  graphics/smpisg1.png
  graphics/smplas0.png
  graphics/smplas1.png
  graphics/smsgn20.png
  graphics/smsgn21.png
  graphics/smshot0.png
  graphics/smshot1.png
  graphics/smunkn0.png
  graphics/smunkn1.png
Labels: sprites, Advanced Engines

#1309 Wip Rework of map22.
  levels/map22.wad
Labels: enhancement, levels

#1470 Update for E2M1
  levels/e2m1.wad
Labels: levels

#1469 Udpate missing FDM names in UMAP
  lumps/fdmuminf.lmp
Labels: Dehacked, Advanced Engines
